.container{
    margin: auto;
    margin-top: 90px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darksalmon;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover{
      background-color: #e21515cb;
      color:white;
      text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;

  }
  .active {
    background-color: goldenrod;
    text-decoration: none;

  }

  #btn btn-success{
    margin-top: 10px;
  }
  .btn_urun_adet{
    margin-bottom: 10px;
    width:30px;
    
  }