ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darksalmon;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #e21515cb;
    color: white;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
  
  }
  body{
    background-color: rgb(245, 227, 127)
  }
  
  .active {
    background-color: goldenrod;
    text-decoration: none;
  
  }
  .container{
    margin-top: 50px;
    background-color: white;
    border-radius:30px;
  }